{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="row divider green">
  <div class="col-md-12"></div>
</div>
<div class="row banner menu">
  <div class="col-md-11 col-md-offset-1 padding-none">
    <h1>CATALOG JSON</h1>
  </div>
</div>

<style>
        * {
          box-sizing: border-box;
        }
        
        /* Create two equal columns that floats next to each other */
        .column {
          float: left;
          width: 400px;
        }
        
        /* Clear floats after the columns */
        .row:after {
          content: "";
          display: table;
          clear: both;
        }
</style>    

<div>
  {{ categoryJson }}
</div>

{% endblock %}
